node-linker=hoisted
auto-install-peers=true
onlyBuiltDependencies[]=@medusajs/telemetry
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=protobufjs
